<h1>Beers</h1>
<div id="beers-from-api">
<ul>
    {{#each beersFromApi}}
  
        <div class="beer-info">
            <ul>
                <div id="beer-img">
                    <img src={{this.image_url}}> 
                </div>               
                <li>{{this.name}}
                <li>{{this.tagline}}</li>
                <li>{{this.description}}</li>
                
            </ul>
             
        </div>
        {{/each}}
</ul>
</div>