<h1>Beers</h1>
<div id="beers-from-api">
<ul>
    {{!-- {{#each beersFromApi}} --}}
    {{#each beersFromApi}}
  
        <div class="beer-info">
            <ul>                
                <li>{{this.name}}
                <img src={{this.image_url}}>
                <li>{{this.tagline}}</li>
                <li>{{this.description}}</li>
            </ul>
             
        </div>
        {{/each}}
</ul>
</div>